<div class="container-fluid">
  <h1>Dynamic form renderer</h1>
  <div class="row">
    <div class="col">
      <app-card title="FormControls Generator">
        <app-editor (formValue)="addForm($event)"></app-editor>
      </app-card>
    </div>

    <ng-container *ngIf="formConfigs$ | async as formConfigs">
      <div class="col">
        <app-card title="Generated Code">
          {{ formConfigs | json }}
        </app-card>
      </div>

      <div class="col">
        <app-form-renderer
          [controlConfigs]="formConfigs"
          (formSubmit)="submitForm($event)"
        ></app-form-renderer>
      </div>
    </ng-container>
  </div>
</div>
