<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h1>Dynamic form renderer</h1>
    </div>
  </div>

  <div class="row justify-content-around align-self-start">
    <div class="col-lg-4" cdkDrag>
      <app-editor
        [componentType$]="firstStep$" 
        [componentTypes$]="componentTypes$"
        [inputTypes]="inputTypes$ | async"
        (formValue)="onEditorSubmit($event)"
        (editCanceled)="cancelEdit()"
      ></app-editor>
      <!-- <app-component-creator
        [selectedComponent]="selectedComponent$ | async"
        [componentTypes]="componentTypes$ | async"
        [inputTypes]="inputTypes$ | async"
        (formValue)="onEditorSubmit($event)"
        (editCanceled)="cancelEdit()"
      ></app-component-creator> -->
    </div>

    <div class="col-lg-6">
      <app-form-renderer
        (submittedForm)="submitForm($event)"
        (selected)="selectComponent($event)"
        (remove)="removeComponent($event)"
        [components$]="components$"
      ></app-form-renderer>
    </div>

    <div class="row mt-auto justify-content-left align-self-start">
      <div class="col-lg-4 mt-3">
        <button
          class="btn btn-outline-secondary"
          (click)="displayGeneratedConfigs = !displayGeneratedConfigs"
        >
          <span *ngIf="!displayGeneratedConfigs">Show Generated Configs</span>
          <span *ngIf="displayGeneratedConfigs">Hide Generated Configs</span>
        </button>
        <app-card *ngIf="displayGeneratedConfigs" title="Generated Code">
          {{ components$ | async | json }}
        </app-card>
      </div>
    </div>
  </div>
</div>
