<form [formGroup]="form" class="container">
  <ng-container *ngIf="importedComponents$ | async as components">
    <ng-container *ngIf="components.length > 0">
      <app-card>
        <ng-container
          *ngFor="let component of components; index as i; trackBy: trackById"
        >
          <app-edit-wrapper
            *ngIf="isEditMode; else displayMode"
            (remove)="removeComponent(component.id)"
            (edit)="selectComponent(component.id)"
          >
            <ng-container
              *ngComponentOutlet="
                component['importedCmp'];
                inputs: component['inputs']
              "
            >
            </ng-container>
          </app-edit-wrapper>

          <ng-template #displayMode>
            <ng-container
              *ngComponentOutlet="
                component['importedCmp'];
                inputs: component['inputs']
              "
            >
            </ng-container>
          </ng-template>
        </ng-container>
        <button
          type="submit"
          class="btn btn-primary mt-2"
          [disabled]="!form.valid"
          (click)="submitForm()"
        >
          {{ isEditMode ? "Save Form" : "Submit" }}
        </button>
      </app-card>
    </ng-container>
  </ng-container>
</form>
