<app-card
  [title]="isEditMode ? 'Edit Control' : 'Generate FormControl Component'"
>
  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
   
<ng-container *ngIf="(firstStepComponent$ | async) as component"
>
<ng-container #placeholder></ng-container>

</ng-container>
    

    <div class="form-group mt-2">
      <button
        *ngIf="!isEditMode; else editButton"
        type="submit"
        class="btn btn-outline-primary mx-auto d-block"
        [disabled]="!form.valid"
      >
        Create component
      </button>
      <ng-template #editButton>
        <div class="row justify-content-around">
          <button
            type="submit"
            class="btn btn-outline-primary m-2 col"
            [disabled]="!form.valid"
          >
            Edit form control
          </button>
          <button
            type="button"
            class="btn btn-danger m-2 col"
            (click)="cancelEdit()"
          >
            Cancel Edit
          </button>
        </div>
      </ng-template>
    </div>
  </form>
</app-card>
