<ng-container *ngIf="controlConfig.type === 'submit'; else control">
  <button class="btn btn-outline-primary mt-2 mx-auto d-block" cdkDrag>
    Submit
  </button>
</ng-container>

<ng-template #control>
  <div class="form-group" [formGroup]="formGroup">
    <div class="form-control mt-2" cdkDrag>
      <label class="p-2">{{ controlConfig.label | titlecase }}</label>
      <input
        [type]="controlConfig.type"
        [formControlName]="controlConfig.name"
        class="form-control"
        [placeholder]="controlConfig.placeholder"
      />
      <div class="row justify-content-end">
        <button
          type="button"
          class="btn btn-info m-2 col-auto"
          (click)="selectControl($event)"
        >
          Edit
        </button>
        <button
          type="button"
          class="btn btn-danger m-2 col-auto"
          (click)="removeControl($event)"
        >
          Remove
        </button>
      </div>
    </div>
  </div>
</ng-template>
